body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: linear-gradient(to right, #333, #555);
    color: white;
    text-align: center;
    padding: 1em;
}


    header #logo {
        width: 321px;
        height: 157%;
    }

nav {
    display: flex;
    justify-content: space-between;
    background-color: #444;
    padding: 0.5em;
}

    nav a {
        color: white;
        text-decoration: none;
    }


footer {
    margin-top: 20px;
    background: linear-gradient(to right, #333, #555);
    color: white;
    text-align: center;
    padding: 1em;
}

    footer a {
        color: white;
        text-decoration: none;
    }

        footer a:hover {
            text-decoration: underline;
        }

.navbar {
    overflow: hidden;
    background: linear-gradient(to right, #333, #444);
    font-family: Roboto;
}

    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

.dropdown {
    float: left;
    overflow: hidden;
}

    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: Roboto;
        margin: 0;
    }


    .navbar a:hover,
    .dropdown:hover .dropbtn {
        background-color: red;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(to right, #f9f9f9, #ddd);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.donate-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px auto;
    width: 80%;
    max-width: 1200px;
}

.donate-column {
    margin-top: 60px;
    width: 48%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff; 
    margin-bottom: 60px;
}

    .donate-column h2 {
        color: #333; 
    }

button {
    background-color: #555;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

    button:hover {
        background-color: #333;
    }

.donate-column a {
    color: #555;
    text-decoration: none;
}

    .donate-column a:hover {
        text-decoration: underline;
    }
